
<div id="projectInfoApp">
    <form @@submit="submitForm">
        <div class="row">
            <div class="col-sm-6">
                <label>Project Name:</label>
            </div>
            <div class="col-sm-6">
                <label>Description:</label>
            </div>
        </div>
    </form>
</div>