@model ETLSuite.Models.Project.IndexViewModel

@using ETLSuite.Util;

@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>

<div id="projectListApp">
    <div class="row bottom-margin-10">
        <div class="col-sm-12 text-right">
            <span id="notification"></span>
            <button class="btn btn-primary" v-on:click="CreateProject">New Project</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label>Name</label>
        </div>
        <div class="col-sm-5">
            <label>Description</label>
        </div>
        <div class="col-sm-2">
            <label>Status</label>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" v-for="p in Projects">
        <div class="col-sm-3">
            {{p.Name}}
        </div>
        <div class="col-sm-5">
            {{p.Description}}
        </div>
        <div class="col-sm-2">
            {{p.Status}}
        </div>
        <div class="col-sm-2">
            <a v-bind:href="'/Project/Manage/' + p.Id">Manage</a>
        </div>
    </div>

</div>

@section config{
    @*Injected config*@
    @Html.RenderJsonConfigTags(new Dictionary<string, string>
    {
        {"config",  Model.GetClientConfig()},
        {"urlConfig", Model.GetUrls()}
    })
}

@section scripts{
    <environment include="Development">
        <script src="~/js/services/project-service.js"></script>
        <script src="~/js/apps/project-list-app.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/projects.min.js" asp-append-version="true"></script>
    </environment>
}



