@model ETLSuite.Models.Project.ManageViewModel

@using ETLSuite.Util

@{
    ViewData["Title"] = "Manage";
}

<a asp-controller="Project" asp-action="Index">Back</a>
<hr />
<h2>Manage</h2>
<span id="notification"></span>
<div id="manageTabApp">
    <button class="btn btn-default" v-on:click="ChangeTab" v-bind:class="{'active-tab': CurrentTab == 'ProjectInfo'}" data-id="ProjectInfo">Project Info</button>
    <button class="btn btn-default" v-on:click="ChangeTab" v-bind:class="{'active-tab': CurrentTab == 'ProjectConfiguration'}" data-id="ProjectConfiguration">Configuration</button>
    <button class="btn btn-default" v-on:click="ChangeTab" v-bind:class="{'active-tab': CurrentTab == 'ProjectUploadSchema'}" data-id="ProjectUploadSchema">Upload Schema</button>
    <button class="btn btn-default" v-on:click="ChangeTab" v-bind:class="{'active-tab': CurrentTab == 'ProjectJobs'}" data-id="ProjectJobs">Jobs</button>
</div>
<hr />
<div id="contentTarget">

</div>

@section config{
    @*Injected config*@
    @Html.RenderJsonConfigTags(new Dictionary<string, string>
    {
        {"config",  Model.GetClientConfig()},
        {"urlConfig", Model.GetUrls()}
    })
}

@section scripts{
<environment include="Development">
    @* Components *@
    <script src="~/js/components/save-success-component.js"></script>

    @* Services *@
    <script src="~/js/services/project-service.js"></script>
    <script src="~/js/services/schema-tree-service.js"></script>
    <script src="~/js/services/db-connection-service.js"></script>

    @*Apps*@
    <script src="~/js/apps/schema-tree-app.js"></script>
    <script src="~/js/apps/project-info-app.js"></script>

    <script src="~/js/apps/db-connection-app.js"></script>
    <script src="~/js/apps/project-configuration-app.js"></script>

    <script src="~/js/apps/project-upload-schema-app.js"></script>
    <script src="~/js/apps/project-jobs-app.js"></script>

    <script src="~/js/apps/manage-tab-app.js"></script>
</environment>
    <environment exclude="Development">
        <script src="~/dist/manage-projects.min.js" asp-append-version="true"></script>
    </environment>


}